body {
    background-color: rgb(64, 0, 255);
}

@media only screen and (min-width: 0px) and (max-width: 819px) {
    .d-sm-none {
        display: none !important;
    }

    .wi-sm-50 {
        max-width: 50%;
    }
}

@media only screen and (min-width: 820px) {
    .wi-md-30 {
        max-width: 30%;
    }
}
