body {
  background-repeat: no-repeat;
  background-image: 500px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(177, 82, 255));
  background-color: rgb(177, 82, 255); /* For browsers that do not support gradients */
    font-family: "Nunito", sans-serif;
}

@media only screen and (min-width: 0px) and (max-width: 819px) {
    .d-sm-none {
        display: none !important;
    }

    .wi-sm-50 {
        max-width: 50%;
    }
}

@media only screen and (min-width: 820px) {
    .wi-md-30 {
        max-width: 30%;
    }
}
